---
layout: default
title: {{ site.name }}
---

<div id="home">

</div>

<script>

    var home = document.getElementById('home');
    home.innerHTML = "{% for tag in site.categories %}\n" +
        "        <div style=\"cursor:pointer\" class=\"wrapper\"><h2 class=\"title\">👊 {{tag[0]}}</h2>\n" +
        "        <div style=\"display:none\"class=\"list\"> <ul class=\"posts\">\n" +
        "        {% for post in tag[1] %}\n" +
        "        <li><a href=\"{{ tong9433.github.io }}{{ post.url }}\">{{ post.title }}</a><span style=\"font-size: 12px; color: gray\"> {{post.date | date_to_string}}</span></li>\n" +
        "        {% endfor %}\n" +
        "        </ul> </div></div>\n" +
        "    {% endfor %}\n";


    const titleArray = Array.from(document.getElementsByClassName('wrapper'))

   titleArray.forEach(function(e){
        e.addEventListener("click",function(){
            if(Array.from(e.childNodes)[2].style.display ==="none"){
                Array.from(e.childNodes)[2].style.display = "block";
            }else{
                Array.from(e.childNodes)[2].style.display = "none";
            }
        })
    });


</script>
