---
layout: default
title: {{ site.name }}
---

<div id="home">

</div>

<script>
    var home = document.getElementById('home');
    home.innerHTML = "{% assign previousDate = site.date %}"+
        "       {% for tag in site.categories %}\n" +
        "       <div style=\"cursor:pointer\" class=\"wrapper\">" +
        "       <h3 class=\"title\">👊 {{tag[0]}} </h3>\n" +
        "       <div style=\"display:none\"class=\"list\"> <ul class=\"posts\">\n" +
        "       {% for post in tag[1] %}\n" +
        "       <li><a href=\"{{ tong9433.github.io }}{{ post.url }}\">{{ post.title }}</a>" +
        "       {% if post.date == previousDate %}"+
        "       <span style='font-size: 12px; color: gray'> {{post.date | date: '%Y-%m-%d'}}</span> 🆕</li>"+
        "       {% else %}"+
        "       <span style='font-size: 12px; color: gray'> {{post.date | date: '%Y-%m-%d'}}</span> </li>"+
        "       {% endif %}"+
        "       {% endfor %}\n" +
        "        </ul> </div></div>\n" +
        "       {% endfor %}\n";

    const titleArray = Array.from(document.getElementsByClassName('wrapper'))

   titleArray.forEach(function(e){
        e.addEventListener("click",function(){
            if(Array.from(e.childNodes)[3].style.display ==="none"){
                Array.from(e.childNodes)[3].style.display = "block";
            }else{
                Array.from(e.childNodes)[3].style.display = "none";
            }
        })
    });


</script>
