<section style="background-color: #000000;
  background-image: url('/image/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  background-size: cover;" class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <img style="width: 150px; height: auto; margin-bottom: 30px; cursor:pointer" src="/image/profile.jpeg"/>
  <div>
    <a href="http://tong9433.github.io" class="btn">Home</a>
  <a href="https://github.com/tong9433" class="btn">Github</a>
  <a href="https://facebook.com/tongtongil" class="btn">Facebook</a>
  </div>
</section>